## Deliverable 3. Create a Travel Itinerary Map.

In [21]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
# Import API key
from config import Google_API_Key

# Configure gmaps
gmaps.configure(api_key=Google_API_Key)

In [41]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(100)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Buala,SB,79.70,clear sky,-8.1450,159.5921,Maringe Lagoon Lodge
1,7,Atuona,PF,75.79,light rain,-9.8000,-139.0333,Villa Enata
2,9,Nakamura,JP,77.29,overcast clouds,32.9833,132.9333,Hotel Crown Hills Nakamura
3,17,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
4,21,Puerto Del Rosario,ES,76.75,few clouds,28.5004,-13.8627,Hotel JM Puerto del Rosario
...,...,...,...,...,...,...,...,...
95,272,Altagracia De Orituco,VE,85.41,scattered clouds,9.8601,-66.3814,Posada Quinta Mi Refugio
96,273,Ternate,ID,80.15,overcast clouds,0.8000,127.4000,Sahid Bela Ternate Hotel
97,274,Meulaboh,ID,76.66,moderate rain,4.1363,96.1285,Kost Pria
98,280,Acarau,BR,82.98,broken clouds,-2.8856,-40.1200,castelo pizzaria
99,281,Hirara,JP,80.58,moderate rain,24.8000,125.2833,Hotel Atoll Emerald Miyakojima

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0    -8.1450  159.5921
1    -9.8000 -139.0333
2    32.9833  132.9333
3   -21.2000 -175.2000
4    28.5004  -13.8627
..       ...       ...
262  42.8000   93.4500
263  41.6897   15.3760
264  42.8333    1.5833
265   1.1667  108.9667
266  14.5333   20.9167

[267 rows x 2 columns]

In [5]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.


vacation_start = vacation_df.loc[vacation_df["City"] == "Saint George"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Saint George"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Portland"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Glenwood Springs"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Saint Anthony"]

In [43]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])
end

(37.1041, -113.5841)

In [44]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Latitude-longitude pairs
fig = gmaps.figure()
start2stop1 = gmaps.directions_layer(start, end,  waypoints=[stop1,stop2, stop3], travel_mode='DRIVING')
fig.add_layer(start2stop1)
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,27,Saint George,US,88.63,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
1,516,Portland,US,88.77,few clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
2,289,Glenwood Springs,US,77.40,overcast clouds,39.5505,-107.3248,Glenwood Springs Cedar Lodge
3,326,Saint Anthony,US,85.84,clear sky,45.0205,-93.2180,Holiday Inn Express Roseville-St. Paul

In [52]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [54]:
# 11a. Add a marker layer for each city to the map.
# 11b. Display the figure

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))